<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("partials/links") %> 
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/store.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body class="page-top">
 
  
   <%- include("partials/navbar.ejs") %> 
    <!-- Masthead-->
    <section id="mast">
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Your Cart</div>
                <div style="margin-bottom:2.5rem ;" class="masthead-heading text-uppercase">Join Us</div>
                <i class="fas fa-lg fa-sort-down"></i>
      
            </div>
        </header>

    </section>
   
  

   
    <section class="page-section" style="padding: 2rem;" >

      <%    if(products){ %>
       

        <div class="px-4 px-lg-0">
      
    
           
          
            <div class="pb-5">
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" style="font-family: 'Montserrat';letter-spacing: 0.0625em" class="border-0 bg-light">
                              <div class="p-2 px-3 text-uppercase">Product</div>
                            </th>
                            <th scope="col" style="font-family: 'Montserrat';letter-spacing: 0.0625em" class="border-0 bg-light">

                              <div class="py-2 text-uppercase">Price</div>
                            </th>
                            <th scope="col" style="font-family: 'Montserrat';letter-spacing: 0.0625em" class="border-0 bg-light">

                              <div class="py-2 text-uppercase">Quantity</div>
                            </th>
                           
                          </tr>
                        </thead>
                        <tbody>
                  

<% products.forEach(element => { %>
  <tr>
    <th scope="row" class="border-0">
      <div class="p-2">
        <img src=<%= element.item.image %>  alt="" width="70" class="img-fluid rounded shadow-sm">
        <div class="ml-3 d-inline-block align-middle">
          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle"><%= element.item.title %></a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: 
            <% if(element.item.business != "med" && element.item.business !="big"){ %> 
            Cocoa
          <% } else if(element.item.business === "big"){ %>
            Cup
          <% } else if(element.item.business === "med"){ %>
            Bean
          <% } %>  
          </span>
        </div>
      </div>
    </th>
    <td class="border-0 align-middle"><strong>₹<%= element.price %></strong></td>
    <td class="border-0 align-middle"><strong><%= element.qty%></strong></td>

  </tr>

                        
<% }); %> 


                    
                        
                         
                        </tbody>
                      </table>
                    </div>
                   
                  </div>
                </div>
          
                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                  <div class="col-lg-12">
                    <div style="color: #fed136; font-family: 'Montserrat';letter-spacing: 0.0625em" class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                      <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
                      <ul class="list-unstyled mb-4">
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="orders text-muted">Order Subtotal </strong><strong class="orders">₹<%= totalP%>.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="orders text-muted">Shipping and handling</strong><strong class="orders">₹45.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class=" orders text-muted">Tax</strong><strong class="orders">₹0.00</strong></li>
                        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="orders text-muted">Total</strong>
                          <h5 class="font-weight-bold orders">
                            <%var a=totalP; %>
                         <% var b=45;%>
                         <% var sum=a+b;%>
                         <% console.log(sum);%>

                       
                          
                         ₹<%=sum%>.00
                        </h5>
                        </li>
                      </ul><a role="button" href="/Cart/check" class="btn btn-primary rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                  </div>
                </div>
          
              </div>
            </div>
          </div>

          <% } else{ %>
            
         <div style="text-align: center;" >
          <div class="about" style="padding: 3.5% 3% 1% 3%; text-align: center; color:#212529">NO ITEMS IN YOUR CART  <i class="fas fa-cart-arrow-down"></i></div>
         
          <a style="margin-top: 6%; font-size: 3.2rem;border-radius: 3rem; padding:1% 3%;  text-align: center;" class="btn btn-lg btn-warning" href="/equipments" role="button">Go To Services</a>
         </div>
         
         

            <% } %> 


        
    </section>
 
<%- include("partials/newsletter") %> 





<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Contact form JS-->

<script src="mail/v.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<%- include("partials/footer") %> 
    
</body>
</html>